@font-face {
  font-family: "maple";
  src: url(./font/PressStart2P-Regular.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "maple";
}

.wrap {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* 스토어 및 인벤토리 버튼 시작 */
.wrap .top {
  width: 100%;
  height: 100px;
  display: flex;
}
.wrap .top .top-wrap {
  width: 100%;
  display: flex;
  position: relative;
}
.top-wrap span {
  font-size: 10px;
  color: white;
}

.wrap .top .top-wrap .top-lt {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.wrap .top .top-wrap .top-lt .weapon-wrap {
  width: 120px;
  height: 130px;
  display: block;
  font-size: 20px;
  text-align: center;
}
.wrap .top .top-wrap .top-lt .weapon-wrap .weapon {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
  background-image: url("./img/buff_atk_icon.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.weapon-wrap.buff-on {
  display: block;
}

.wrap .top .top-wrap .top-lt .ammor-wrap {
  width: 120px;
  height: 130px;
  display: block;
  font-size: 20px;
  text-align: center;
}
.wrap .top .top-wrap .top-lt .ammor-wrap .ammor {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
  background-image: url("./img/buff_def_icon.png");
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center;
}
.ammor.buff-on {
  display: block;
}

.wrap .top .top-wrap .top-rt {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.wrap .top .top-rt .store {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 50%;
  border: 4px solid rgb(0, 0, 0);
  cursor: pointer;
  background-image: url("./img/cart_icon.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.wrap .top .top-rt .inven {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 50%;
  border: 4px solid rgb(0, 0, 0);
  cursor: pointer;
  background-image: url("./img/inven_icon.webp");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}
.store:hover,
.inven:hover {
  transform: scale(110%);
}
/* 스토어 및 인벤토리 버튼 끝 */

/* 게임 메인 페이지 시작 */
.wrap .middle {
  width: 100%;
  height: 75%;
  /* background-color: black; */
  position: relative;
}

.choice {
  display: block;
}
.wrap .middle .monster-choice {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
}
.choice.choice-close {
  display: none;
}

.wrap .middle .monster-choice .btn {
  width: 200px;
  height: 200px;
  border: 3px solid black;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  margin: 3px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  transform: scale(110%);
}

.wrap .middle .user {
  width: 300px;
  height: 300px;
  /* background-color: white; */
  position: absolute;
  bottom: 30px;
  left: 20%;
  background-image: url("./img/character.png");
  background-size: 60%;
  background-position: bottom;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
}
/* 대미지 */
.wrap .middle .damage {
  width: 400px;
  height: 100px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.vibration {
  animation: vibration 0.1s infinite;
}

@keyframes vibration {
  from {
    transform: translate(-50%);
  }
  to {
    transform: translate(-49%);
  }
}

/* 공격 시 뜨는 그림 */
.useratkd,
.monsteratkd {
  display: none;
}
.atkd {
  width: 300px;
  height: 300px;
  background-image: url(./img/magicatk.gif);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}

/* 공격 시 뜨는 숫자 */
.damage_number,
.damage_number_critical,
.miss_number,
.heel_number {
  font-weight: bold;
  text-align: center;
  margin: 0;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;

  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;

  font-size: 70px;
  font-weight: bolder;
  background-image: linear-gradient(red, 60%, yellow);
}

/* 크리티컬 공격 시 뜨는 숫자 */
.damage_number_critical {
  font-size: 50px;
  background-image: linear-gradient(to top, rgb(156, 30, 156), pink);
}

/* 물약 먹었을 때 뜨는 숫자 */
.heel_number {
  font-size: 50px;
  background-image: linear-gradient(to top, rgb(0, 0, 131), 60%, skyblue);
}

.wrap .middle .monster {
  width: 300px;
  height: 300px;
  /* background-color: white; */
  position: absolute;
  bottom: 3%;
  right: 20%;
  background-size: contain;
  background-repeat: no-repeat;
}

.monster.slimeimg {
  background-image: url("./img/slime.gif");
}
.monster.orangeimg {
  background-image: url("./img/orangeM\(l\).gif");
}
.monster.wolfimg {
  background-image: url("./img/wolf.gif");
}
.monster.dragonimg {
  background-image: url("./img/dragon.gif");
}
.monster.bossimg {
  background-image: url("./img/boss.gif");
}
/* 게임 메인 페이지 끝 */

/* 아래쪽 텍스트, 버튼 시작 */
.wrap .bottom {
  width: 100%;
  height: 190px;
  display: flex;
  position: relative;
}

.wrap .bottom .userhp,
.wrap .bottom .monsterhp {
  width: 300px;
  height: 100px;
  position: absolute;
  top: 0;
  border: 1px solid black;
  border-radius: 10px;

  background-color: rgb(60, 67, 73);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.wrap .bottom .userhp {
  left: 20%;
}
.wrap .bottom .monsterhp {
  right: 20%;
}

.wrap .bottom .userhp .useridbox,
.wrap .bottom .monsterhp .monsteridbox {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wrap .bottom .userhp .useridbox .userlevel,
.wrap .bottom .monsterhp .monsteridbox .monsterlevel {
  font-size: 15px;
  font-weight: bold;
  color: orange;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 10%;
}
.wrap .bottom .userhp .useridbox .userid,
.wrap .bottom .monsterhp .monsteridbox .monsterid {
  font-size: 15px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 40%;
}

.wrap .bottom .userhp .hpbox,
.wrap .bottom .monsterhp .hpbox {
  width: 100%;
  height: 50%;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  background-color: rgb(233, 242, 238);
  box-shadow: 1px 1px 1px black;
}

.wrap .bottom .userhp .hpbox .hptxt,
.wrap .bottom .monsterhp .hpbox .hptxt {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 15px;
  font-weight: bold;
  color: rgb(60, 67, 73);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
/* .wrap .bottom .userhp .hpbox .hpbarbox,
.wrap .bottom .monsterhp .hpbox .hpbarbox { */
#userhpbarbox,
#monhpbarbox {
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 0 15px;
  border-radius: 10px;

  background-color: rgb(233, 242, 238);
  box-shadow: 1px 1px 1px black;
}
/* .wrap .bottom .userhp .hpbox .hpbarbox .hpbar,
  .wrap .bottom .monsterhp .hpbox .hpbarbox .hpbar { */
#userhpbarbox .hpbar,
#monhpbarbox .hpbar {
  width: 100%;
  height: 23px;
  border-radius: 7px;
  background-color: rgb(240, 42, 105);
}

.wrap .bottom .atkbtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  border: 4px solid rgb(205, 205, 205);
  cursor: pointer;
  background-image: url("./img/atk_btn.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.atkbtn:hover {
  transform: scale(110%);
}

.sound-icon {
  position: fixed;
  bottom: 40px;
  left: 30px;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.7);
  width: 40px;
  height: 30px;
  border: 1px solid black;
  color: white;
  font-size: 10px;
}
/* 아래쪽 텍스트, 버튼 끝 */

/* 유저가 졌을때 팝업창 시작 */

.lose {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
.lose.loser {
  display: block;
}

.lose .losepopup {
  position: fixed;
  width: 700px;
  height: 300px;
  /* border: 2px solid white; */
  border-radius: 20px;
  background-color: white;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
  display: flex;
  flex-direction: column;
  background-color: rgba(15, 155, 225, 0.9);
  padding: 10px;
}

.lose .losepopup .losepopuptitle {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lose .losepopup .losepopuptitle .tombstone {
  width: 150px;
  height: 200px;
  background-image: url("./img/tombstone.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.lose .losepopup .losepopuptitle .losetitle {
  width: 460px;
  height: 150px;
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}

.lose .losepopup .losepopuptitle .losetitle .losetitletop {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}
.lose .losepopup .losepopuptitle .losetitle .losetitletop span {
  font-size: 23px;
  color: white;
  margin-left: 20px;
}

.lose .losepopup .losepopuptitle .losetitle .losetitlebottom {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.lose .losepopup .losepopuptitle .losetitle .losetitlebottom span {
  font-weight: 400;
  color: white;
  font-size: 22px;
  margin-left: 20px;
}

.lose .losepopup .losepopupreplay {
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.lose .losepopup .losepopupreplay .replaybtn {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px;
  background-color: #90cd0d;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid #7d9340;
  cursor: pointer;
}

/* 유저가 졌을때 팝업창 끝 */

/* 유저가 이겼을때 시작 */
.win {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
.win.winner {
  display: block;
}
.win .winpopup {
  position: fixed;
  width: 80%;
  height: 80%;
  border: 5px solid white;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* align-items: center; */
  background-color: rgba(0, 0, 0, 0.5);
}

.win .winpopup span {
  color: white;
  font-size: 100px;
}

.win .winpopup span:first-child {
  margin-top: 50px;
  text-align: center;
}

.win .winpopup span:nth-child(2) {
  margin: 50px 0 0 50px;
}
.win .winpopup span:nth-child(3) {
  margin: 30px 0 0 50px;
}

.win .rebox {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.win .rebox .rebtn {
  width: 150px;
  height: 70px;
  margin-right: 30px;
  border: 5px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.win .rebox .rebtn span {
  margin: 0;
  font-size: 26px;
  color: white;
}

/* 유저가 이겼을때 끝 */

/* 메소 추가 */
.wrap .top .top-wrap .top-rt .mesos {
  width: 200px;
  height: 100px;
  border: 4px solid;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 10px 20px 0 0;
}

.wrap .top .top-wrap .top-rt .mesos .mesoimg {
  width: 50px;
  height: 50px;
  background-image: url("./img/meso.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 10px;
}
.wrap .top .top-wrap .top-rt .mesos span {
  font-size: 24px;
  color: white;
  margin-left: 20px;
}
